@charset "utf-8";

/* CONFIGURAÇÕES GERAIS */

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html , body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(43, 43, 239, 0.811);
}

h1{
    color: white;
    text-shadow: 2px 2px 0px blue;
}