@charset "utf-8";

div{
    display: inline-block;
    background-color: cadetblue;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    height: 200px;
}

div:hover{
    background-color: yellow;
}

a{
    text-decoration: none;
    font-size: 30px;
}

div:hover{
    color: red; 
}
    
  
